@mixin button($solid: true, $inline: true) {
  display: if($inline, inline-block, block);
  min-width: 142px;
  margin: 0 auto;
  padding: 9px;
  text-align: center;
  font-family: $font-stack;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.4px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: if($solid, $button-colour, $button-bg-colour);
  background-color: if($solid, $button-bg-colour, $solid);
  border-radius: 7px;
  border: none;
  box-shadow: 0 7px 0 0 $button-shadow;
  cursor: pointer;
  -webkit-appearance: none;
  appearance        : none;

  &:focus {
    box-shadow: 0 0 1px 0 $button-shadow inset;
    margin-top: 7px;
    margin-bottom: -7px;
  }
}
