$font-stack: 'Source Sans Pro', sans-serif;
$body-colour: #4a4a4a;
$inverse-body-colour: #fff;
$header-background-colour: #26560D;
$footer-background-colour: #4a689b;
$highlight-colour: #4a689b;
$button-bg-colour: #da4701;
$button-shadow: #a73702;
$button-colour: #fff;
$link-colour: #09baf2;
$section-header-colour: #f9f9f9;
$breadcrumb-colour: #133700;
$discussion-guide-colour: #f9f9f9;
$help-section-colour: #f9f9f9;
$share-colour: #747474;
