@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 400px;
    margin: 0 auto 0 auto;
}

{{ $header_image := .Site.Params.header_image }}
{{ $header_image := (trim $header_image "/") | absURL }}
header {
    background-color: #4a689b;
    background-image: url('{{ $header_image }}');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 0.5em 0 4.5em 0;
    text-align: center;

    h1 {
        font-size: 20px;
    }
}

main {
    display: flex;
    flex-direction: column;
}

.tfuk {
    color: white;
    background-color: #323232;

    img {
        width: 80%;
    }
}

.social {
    color: white;
    background-color: #4a689b;
}

.primary-content, .tfuk, .social, .subscribe {
    text-align: center;
    padding: 0.5em;
}

.page-content {
    padding: 0.5em;
}
