@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    font-family: $font-stack;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    colour: $body-colour;
    line-height: 1.5;
}

img {
  max-width: 100%;
}

.container {
    max-width: 400px;
    padding: 16px;
    margin: 0 auto;
}


{{ $header_image := .Site.Params.header_image }}
{{ $header_image := (trim $header_image "/") | absURL }}
header {
    background-color: #4a689b;
    background-image: url('{{ $header_image }}');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;

    &.home-header {

      .container {
        min-height: 378px;
        padding: 0.5em 0 4.5em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }

    h1 {
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1.4px;
        background: transparent url(images/logo.svg) no-repeat top right;
        padding: 2px 25px 0 0;
        margin: 16px auto;
        border: 0;
        width: auto;
    }

    .lead {
        font-size: 2.4rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        margin: 0 auto;
    }

    form {
    }
}

main {
    display: flex;
    flex-direction: column;
}

.tfuk {
    color: white;
    background-color: #323232;

    img {
        width: 80%;
    }
}

.social {
    color: $inverse-body-colour;
    background-color: $footer-background-colour;
}

.primary-content, .tfuk, .social, .subscribe {
    text-align: center;
}

/** Buttons */
input[type="submit"],
.button {
  @include button();
}

input[type="submit"].button-inverse,
.button.button-inverse {
  color: $button-bg-colour;
  background-color: $button-colour;
  border: 2px solid $button-bg-colour;
  padding: 7px;
}

/** For stacked buttons */
form + form {
  margin-top: 14px;
}

