{{ define "title" }}
    <title>{{ .Title }}</title>
{{ end }}

{{ define "header" }}
<header class="home-header">
    <div class="container">
        <h1 class="site-title"><span class="logo">{{ partial "talkaboutbrex.html" . }}</span></h1>

        <p class="lead">
            {{ .Site.Params.description }}
        </p>

        {{ with .Site.GetPage "/help/_index.md" }}
            <form action="{{ .Permalink }}">
                <input type="submit" value="Get Started" />
            </form>
        {{ end }}
    </div>
</header>
{{ end }}

{{ define "main" }}
<section class="primary-content primary-content-home container">
    {{ .Content }}

    {{ with .Site.GetPage "/start/index.md" }}
        <form action="{{ .Permalink }}">
            <input type="submit" value="Show me the facts" class="button-inverse" />
        </form>
    {{ end }}
</section>
{{ end }}

{{ define "footer" }}
{{ partial "social.html" . }}
{{ partial "tfuk.html" . }}
{{ end }}