{{ define "header" }}
  <header class="home-header">
    <div class="container">
      <h1 class="site-title">{{ .Site.Title }}</h1>

      <p class="lead">
        A Remainer's guide to discussing Brexit this Christmas
      </p>

      {{ with .Site.GetPage "/start/index.md" }}
          <form action="{{ .Permalink }}">
              <input type="submit" value="Get Started" />
          </form>
      {{ end }}
    </div>
  </header>
{{ end }}

{{ define "main" }}
    <section class="primary-content container">
        {{ .Content }}
    </section>
{{ end }}

{{ define "footer" }}
    {{ partial "social.html" . }}
    {{ partial "tfuk.html" . }}
{{ end }}
