{{ define "title" }}
    <title>{{ .Title }}</title>
{{ end }}

{{ define "header" }}
<header class="home-header">
    <div class="container">
        <h1 class="site-title"><span class="logo">{{ partial "talkaboutbrex.html" . }}</span></h1>

        <p class="lead">
            {{ .Site.Params.description }}
        </p>
    </div>
</header>
{{ end }}

{{ define "main" }}
<section class="primary-content primary-content-home container">
    {{ .Content }}

    <nav class="container button-list">
        {{ with .Site.GetPage "/help/_index.md" }}
            <p><a href="{{ .Permalink }}">I need some tips</a></p>
        {{ end }}

        {{ with .Site.GetPage "/subject/_index.md" }}
            {{ range .Sections.ByTitle }}
                <form action="{{ .Permalink }}">
                    <input type="submit" value="{{ .Title }}" class="button-block" />
                </form>
            {{ end }}
        {{ end }}
    </nav>
    

    
</section>
{{ end }}

{{ define "footer" }}
{{ partial "social.html" . }}
{{ partial "tfuk.html" . }}
{{ end }}