
{{ define "main" }}

    <div class="section-header">
        <div class="container">
            <h2>{{ .CurrentSection.Title }}</h2>

            {{ with .Site.GetPage "/subject/_index.md" }}
                <p><a href="{{ .Permalink }}">Change subject</a></p>
            {{ end }}
        </div>
    </div>

    <div class="section-header">
        <div class="container">
            {{ $totalFacts := len ( where .CurrentSection.Pages "Type" "fact" ) }}
            <h4>One of {{ $totalFacts }} facts</h4>

            {{ with .CurrentSection }}
                <p><a href="{{ .Permalink }}">See all facts</a></p>
            {{ end }}
        </div>
    </div>

    <div class="page-content fact container">
        <h3>{{ .Title }}</h3>
        {{ .Content }}
    </div>

    <nav class="container button-content">
        {{ if not ( .PrevInSection ) }}
            {{ with .Site.GetPage "/finish/index.md" }}
                <form action="{{ .Permalink }}">
                    <input type="submit" value="Next" class="button-block" />
                </form>
            {{ end }}
        {{ else }}
            {{ with .PrevInSection }}
                <form action="{{ .Permalink }}">
                    <input type="submit" value="Next" class="button-block" />
                </form>
            {{ end }}
        {{ end }}
    </nav>
{{ end }}
